<?xml version="1.0"?>
<config>
    <modules>
        <Magehack_RemoteLogger>
            <version>0.1.0</version>
        </Magehack_RemoteLogger>
    </modules>

    <global>
        <models>
            <magehack_remotelogger>
                <class>Magehack_RemoteLogger_Model</class>
            </magehack_remotelogger>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <magehack_remotelogger>
                        <class>Magehack_RemoteLogger_Model_Observer</class>
                        <method>setErrorHandler</method>
                    </magehack_remotelogger>
                </observers>
            </controller_front_init_before>

            <mage_run_exception>
                <observers>
                    <magehack_remotelogger>
                        <class>Magehack_RemoteLogger_Model_Observer</class>
                        <method>setErrorHandler</method>
                    </magehack_remotelogger>
                </observers>
            </mage_run_exception>
        </events>
    </global>

</config>